/* .colorpalette{
    color: #EEF5FF
    #B4D4FF
    #86B6F6
    #176B87;
} */

@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Adamina&family=Dancing+Script&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Adamina&family=Dancing+Script&family=Raleway&family=Roboto+Slab:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

h1, h2, h3, p, a, li{
    color: #176B87;
    word-break: break-word;
    word-wrap: break-word;

    font-family:'Raleway';
}

a{
    font-size: 1.2rem;
    text-transform: uppercase ;
    font-weight: 500;
}

a:hover{
    color: #8ea1a8;
}

.about-me{
    z-index: 2;
    position: relative;
    padding: 10em 0 5em 10em;

    display: flex;
    justify-content: space-evenly;

    background-color: #EEF5FF;

    box-shadow: 0 0 10px grey;
}

.about-me-container{
    position: inherit;

    width: 30em;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5em;
}

.my-photo{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border-top: solid #B4D4FF 4px;
    border-left: #b0cff8 solid 4px;
    background: url('images/about me/about me bg.jpg') no-repeat;
    background-size: cover;

    box-shadow: 3px 5px 10px #7195a2;
}

.about-me-container div{
    display: flex;
    flex-direction: column;
    gap: 2em;
    line-height: 210%;
}

.intro h1{
    font-size: 3rem;
    font-family: 'Raleway';
}

.intro p{
    font-size: 1.5rem;
}

.font-size h3{
    font-size: 1.6rem;
    font-family: 'Roboto Slab';
}



.font-size li, .font-size p{
    list-style-type: none;
    font-size: 1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;

}

.contact li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem;
}

.contact img{
    height: 24px;
    width: 24px;
}

.contact a{
    text-decoration: none;
}

.my-abilities-section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    padding: 16px;
}

.my-abilities{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5em;
}

.abilities{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.abilities img{
    width: 150px;
    height: 150px;
}

.abilities p{
    font-size: 1.8rem;
    font-family:'Roboto Slab';
}

.words-about-me{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    padding: 16px;
}

.description-title{
    width: 350px;
}

.description-title h1{
    font-size: 3em;
    text-transform: capitalize;
    font-family:'Roboto Slab' ;
}

.description-about-me{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
}

.description-about-me p{
    line-height: 150%;
    font-size: 1.2rem;
    font-family: 'Roboto Slab';
}

.my-hobbies{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #EEF5FF;
}

#my-hobbies-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    padding: 1rem;
}

#my-hobbies-header h1{
    font-family: 'Roboto Slab';
    font-size: 2rem;
}

.container-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5rem;

    padding: 2rem
}

.container-me{
    position: inherit;
    width: 450px;
    height: 100%;
    padding: 15px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-me img{
    width: 350px;
    height: 350px;
}

.container-me h2, .container-me a{
    align-self: flex-start;
}

.container-me h2{
    font-size: 2.5rem;
    font-family:'Roboto Slab';
}

.container-me p{
    font-size: 1.3rem;
    line-height: 150%;
    font-family: 'Raleway';
}

.experience-section{
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5em 10em 5em 10em;

    box-shadow: 0 0 10px grey;
}

.my-experience{
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

    padding: 10px;
}

.my-experience h1{
    font-size: 3rem;
    font-family:'Roboto Slab';
}

.my-experience p{
    font-size: 1.2rem;
    line-height: 150%;
    font-family: 'Raleway';
}

.experiences{
    position: relative;
    padding: 10px;
    width: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.experience{
    width: 90%;
    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.exp{
    display: flex;
    justify-content: space-between;
}

.exp p{
    font-size: 1.4rem;
    font-family: 'Raleway';
}

.progress-bar[value]{
    -webkit-appearance:none;
    -moz-appearance:none;        
    appearance: none; 
}

.progress-bar[value] {
    width: 100%;
    height: 4px;
}
.progress-bar[value]::-webkit-progress-bar {
    border-radius: 4px;
    background: lightgrey;
}
.progress-bar[value]::-webkit-progress-value {
    border-radius: 4px;
    background: #86B6F6;
}

.more-about-me{
    position: relative;
    padding: 15px 15rem 15px 15rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: #EEF5FF;

}

.about-img{
    padding: 20px;
}

.about-img img{
    height: 500px;
}

.more-of-me{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;

    max-width: 400px;
    padding: 10px;
}

.more-of-me h1{
    font-size: 3rem;
    font-family:'Roboto Slab';
}

.more-of-me span{
  font-weight: 700;
  text-transform:uppercase;
}

.more-of-me p{
    font-size: 1.2rem;
    line-height: 150%;
    font-family: 'Raleway';
}

.my-other-exp{
    z-index: 2;
    position: relative;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    padding: 3rem;

    box-shadow: 0 0 8px grey;
}

.about-other-exp{
    width: 500px;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.about-other-exp h1{
    font-size: 3rem;
    font-family: 'Roboto Slab';

}

.about-other-exp p{
    font-size: 1.2rem;
    font-family: 'Raleway';
    line-height: 130%;
}

.specialties{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.type-of-exp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.type-of-exp img{
    height: 150px;
    width: 150px;
}

.type-of-exp p{
    font-size: 1.5rem;
    font-family: 'Raleway';
    font-weight: 900;
}

.experience-section-2{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    padding: 2rem;
}

.capabilities{
    position: inherit;

    width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    padding: 1rem;
}

.capabilities h2{
    font-size: 2rem;
    font-family:'Roboto Slab';
}

.capabilities p{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Raleway';
    font-weight: 700;
}

.img-card{
    position: inherit;
}

.top-img-card{
    z-index: 2;
    position: absolute;
    left: 10px;
    top: 10px;


    width: 74px;
    height: 74px;
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    background-color: white;
    box-shadow: 0 0 1rem;
}

.top-img-card img{
    height: 52px;
    width: 52px;
}

.bottom-img-card{
    overflow: hidden;
    position: inherit;

    height: 300px;
    width: 300px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    box-shadow: 0 0 1rem;
}

.bottom-img-card img{
    height: 200px;
    width: 200px;
}
















